<div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>
		<form name="login" class="form">
			<input type="text"  id="inputs"  placeholder="Username" ng-model="username" required>
			<input type="password"  id="inputs"  placeholder="Password"  ng-model="password" required>
			<button type="submit" id="buttons" ng-click="go()" ng-disabled="login.$invalid">Login</button>
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>