<div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>
		<form name="login" class="form">
			<input type="text" maxlength="20" id="inputs"  placeholder="Username" ng-model="username" required>
			<input type="password" maxlength="20" id="inputs"  placeholder="Password"  ng-model="password" required>
			<button type="submit" id="buttons" ng-click="go()" ng-disabled="login.$invalid">Login</button>
			<button type="button" id="buttons" ng-click="signUp($event)" >Sign up</button>
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>

<!-- <script>
	jQuery(function(event) {
	  $("#buttons").click(function(event){
		event.preventDefault();
		$('form').fadeOut(500);
		$('.wrapper').addClass('form-success');
	  });
	});
</script> -->
