<div class="wrapper">

    <div class="container">
      <h1 >Welcome {{ userName }}</h1>
      <form name="user" class="form"> 
        <input type="text" id="inputs" ng-model="packetName" maxlength="20" placeholder="Enter Packet Name here" required >
        <input type="text" id="inputs" maxlength="20" ng-model="tasksDescription" placeholder="Enter Task here" >
        <button type="button" id="buttons" ng-click="saveTask()" >Add Task</button>

        <md-input-container id="new">
        <!--   <label style="color: aqua;">Tasks Preview</label> -->
          <md-select style="color: aqua;width: 250px;" class= "md-no-underline" md-container-class="mySelect" ng-model="selectedItem"> 
           <!--  <md-optgroup label="items"> -->
             <md-option style="color: aqua;width: 250px;" ng-value="preview" > Tasks preview</md-option>
              <md-option style="width: 250px;" ng-value="task" ng-repeat="task in tasks track by $index" ng-disabled="true" > {{task}}<img src='index.png' id="deleteImg" ng-click="delete($event,$index)"/> </md-option>
            <!-- </md-optgroup> -->
          </md-select>
        </md-input-container>

        <button type="submit" id="buttons" ng-click="go()" id="login-button" ng-disabled="user.$invalid" style="position: relative;top: 50px;">Create Packet</button>
      </form>
    </div>
    
    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  

</div>


  






