<div class="wrapper">

    <div class="container">
      <h1 >Welcome {{ userName }}</h1>
      <form name="user" class="form"> 
        <input type="text" id="inputs" ng-model="packetName" placeholder="Enter Packet Name here" required >
        <button type="button" id="buttons" ng-click="addForm(0)" >Add Task</button>
        <div ng-repeat="form in displayedForms track by $index">
        <ng-include src="form"></ng-include>
        </div>
        <button type="submit" id="buttons" ng-click="go()" id="login-button" ng-disabled="user.$invalid">Ready</button>
      </form>
    </div>

    <script type="text/ng-template" id="newTaskForm">
        <p id="newTasks">
          <input type="text" id="newInputs" ng-model="tasksDescription[$index]" placeholder="Enter Task here" >
          <button type="button" ng-click="Delete($index)" width="30" height="25" ><img  src='index.jpg'  width="30" height="25"/> </button>
        </p>
    </script>
    
    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  

</div>


  






