<div class="wrapper">

    <div class="container">
      <h1 >Welcome </h1>
      <form name="user" class="form"> 
        <input type="text" id="inputs" ng-model="userName" placeholder="Enter Name here" required >
        <input type="password" id="inputs" ng-model="userPass" placeholder="Enter password here" required >
        <input type="text" id="inputs" ng-model="userEmail" placeholder="Enter Email here" required >
        <button type="submit" id="buttons" ng-click="go()" id="login-button" ng-disabled="user.$invalid">Ready</button>
      </form>
    </div>

    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

</div>

