<div class="wrapper">

    <div class="container">
      <h1 ng-hide="checked">Welcome {{user}}</h1>
      <form name="home" class="form">
        <select id="select" ng-model="packetId" required>
          <option value="" disabled selected hidden>Select Packet</option>
          <!--  <option value="none">none</option> -->
          <option ng-repeat="packet in packets" value="{{packet.id}}"  > {{packet.name}}</option>
        </select>
        <button type="button" id="buttons" ng-click="newPacket()">Create Packet</button>
        <button type="submit" id="buttons" ng-click="go()" id="login-button" ng-disabled="home.$invalid">Ready</button>
      </form>
    </div>

    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <script>
        $("#login-button").click(function(event){
        event.preventDefault();
    
        $('form').fadeOut(500);
        $('.wrapper').addClass('form-success');
        });
    </script>

</div>


  






