custom: (tooltipModel) => {
    console.log(tooltipModel)
    /* const title = this.myService.getTitle();  */
      // Tooltip Element
      var tooltipEl = document.getElementById('chartjs-tooltip');

      // Create element on first render
      if (!tooltipEl) {
          tooltipEl = document.createElement('div');
          tooltipEl.id = 'chartjs-tooltip';
          tooltipEl.innerHTML = '<table class="myclass">Title ' + this.myService.getTitle() + '</table>';
          document.body.appendChild(tooltipEl);
      }

      // Hide if no tooltip
      if (tooltipModel.opacity === 0) {
          tooltipEl.style.opacity = '0';
          return;
      }

      // Set caret Position
      tooltipEl.classList.remove('above', 'below', 'no-transform');
      if (tooltipModel.yAlign) {
          tooltipEl.classList.add(tooltipModel.yAlign);
      } else {
          tooltipEl.classList.add('no-transform');
      }

      function getBody(bodyItem) {
          return bodyItem.lines;
      }

      // Set Text
      if (tooltipModel.body) {
          var titleLines = tooltipModel.title || [];
          var bodyLines = tooltipModel.body.map(getBody);
          // console.log("tooltipModel", tooltipModel.body)
          var innerHtml = '<thead>';

          titleLines.forEach(function(title) {
              innerHtml += '<tr><th>' + title + ' ToTo</th></tr>';
          });

          innerHtml += '</thead><tbody>';
          // console.log(bodyLines)
          bodyLines.forEach(function(body, i) {
              var colors = tooltipModel.labelColors[i];
              var style = 'background:' /* + colors.backgroundColor */;
              style += '; border-color:' /* + colors.borderColor */;
              style += '; background-color: red';
              style += '; border-width: 10px';
              var span = '<span style="' + style + '"></span>';
              innerHtml += '<tr><td>' + span + body + '</td></tr>';
            /*   console.log(body) */
          });
          innerHtml += '</tbody>';

          var tableRoot = tooltipEl.querySelector('table');
          tableRoot.innerHTML = innerHtml;
          // console.log(tableRoot)
      }

      // `this` will be the overall tooltip
      var position = this._chart.canvas.getBoundingClientRect();

      // Display, position, and set styles for font
      tooltipEl.style.opacity = '1';
      tooltipEl.style.position = 'absolute';
      tooltipEl.style.backgroundColor = 'white'
      tooltipEl.style.left = position.left + window.pageXOffset + tooltipModel.caretX + 'px';
      tooltipEl.style.top = position.top + window.pageYOffset + tooltipModel.caretY + 'px';
      tooltipEl.style.fontFamily = tooltipModel._bodyFontFamily;
      tooltipEl.style.fontSize = tooltipModel.bodyFontSize + 'px';
      tooltipEl.style.fontStyle = tooltipModel._bodyFontStyle;
      tooltipEl.style.padding = tooltipModel.yPadding + 'px ' + tooltipModel.xPadding + 'px';
      tooltipEl.style.pointerEvents = 'none';
    },